{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% if not tst_item.status %}
        <form action="{% url 'tsts:tst_questions' tst_item.id question.id %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col text-right">
                    {% if prev_question_id %}
                    <a class="btn btn-outline-primary btn-block"
                       href=" {% url 'tsts:tst_questions' tst_item.id prev_question_id %}"
                       role="button"><<</a>
                    {% endif %}
                </div>
                <div class="col text-left">
                    {% if next_question_id %}
                    <a class="btn btn-outline-primary btn-block"
                       href=" {% url 'tsts:tst_questions' tst_item.id next_question_id %}"
                       role="button">>></a>
                    {% endif %}
                </div>
            </div>
            <br>
            <p>{{ question.question }}</p>
            {% if error_message %}
            <br> {{ error_message }}
            {% endif %}
            <br>
            {% for answer in question.answers.all %}
            <p>
                <input type="radio" name="choice" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
                <label for="answer{{ forloop.counter }}">{{ answer.answer }}</label><br>
            </p>
            {% endfor %}
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary btn-block">Ответить</button>
                </div>
            </div>
        </form>
        <br>

        &emsp;
    </div>
    <div class="col-sm-2"></div>
</div>

<br>
<a href=" {% url 'tsts:tst_quit' tst_item.id %}"> Завершить тест </a>
{% endif %}
{% endblock content %}



